<div class="input-group">
	<input
		type="text"
		ng-model="selected"
		placeholder="{{defaults.placeholder}}"
		uib-typeahead="n as n.label for n in getDestinos($viewValue)"
		typeahead-loading="loading"
		typeahead-no-results="noResults"
		class="form-control"
		typeahead-min-length="3"
		typeahead-on-select="onSelect($item, $model, $label, $event)"
		typeahead-wait-ms="200"
		typeahead-template-url="customTemplate.html"
	/>
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-show="loading">
			<i class="fa fa-refresh fa-spin"></i>
		</button>
		<button class="btn btn-default" type="button" ng-show="!loading" ng-click="vaciar()" ng-disabled="!defaults.emptyBtn">
			<i class="fa fa-times"></i>
		</button>
  </span>
</div>